<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <button type="button" class="btn btn-sm btn-default" (click)="index()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Poll List
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="jumbotron">
        <p>
          <!-- Poll goes here-->
          <!-- {{ poll.poll }} -->
          {{ poll }}
        </p>
      </div>

      <div class="row">
        <h2>Please select any of the option</h2>
        <div class="col-sm-8" *ngFor="let option of options">
          <label class="checkbox-inline">
            <input type="radio" name="option" (click)="selectOption(option)"> {{ option }}
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <button type="button" class="btn btn-sm btn-success" (click)="castVote(pollId)">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> Vote
          </button>
        </div>
      </div>

      <hr />
      
      <div class="row">
        <div class="col-sm-8">
          <p>{{ voteCount }} votes casted!</p>
        </div>
      </div>


    </div>
  </div>
</div>

<div *ngIf="chart">
<canvas id="myChart" width="250" height="100">{{ chart }}</canvas>
</div>