<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-10">
          <h1>Create New Poll</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2">
          <button type="button" class="btn btn-primary btn-sm" (click)="pollList()">
            <i class="fa fa-list-ul" aria-hidden="true"></i> Poll List
          </button>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-sm-2">
          <button type="button" class="btn btn-default" (click)="backToIndex()">
            <span>
              <i class="fa fa-arrow-left" aria-hidden="true"></i> Back</span>
          </button>
        </div>
      </div> -->
      
      <hr />

      <form [formGroup]="form" (ngSubmit)="createPoll()">

        <div class="form-group">
          <label for="question">Question*:</label>
          <input type="text" class="form-control" formControlName="question" placeholder="Enter poll" [ngClass]="{'error':form.touched&&form.controls.question.invalid}">
        </div>

        <div class="form-group" *ngFor="let c of count;let i=index">
          <input type="text" class="form-control" formControlName="option{{i}}" placeholder="option - {{i + 1}}">
          <!-- class required-->
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-default btn-md" (click)="addOption()" [disabled]="countOption>4">
            <span>Add Another</span>
          </button>
        </div>

        <div class="form-group">
          <label for="isAnonymous">Anonymous*:</label>
          <select formControlName="isAnonymous" name="isAnonymous">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>

        <div class="form-group">
          <label for="startDate">Start Date*:</label>
          <input type="date" class="form-control" formControlName="startDate">
        </div>

        <div class="form-group">
          <label for="endDate">End Date*:</label>
          <input type="date" class="form-control" formControlName="endDate">
        </div>

        <hr />

        <button type="submit" class="btn btn-md btn-primary" [disabled]="!form.valid">Create Poll</button>

      </form>

    </div>
  </div>
</div>