<div class="container">
  <div class="">
    <form class="form-horizontal" method="POST">

      <div class="row">
        <label for="userName">Username:</label>
        <div class="">
          <input type="text" 
                 class="form-control" 
                 id="userName" 
                 placeholder="Enter Username..." 
                 [(ngModel)]="userName" 
                 [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="row">
        <label for="password">Password:</label>
        <div class="">
          <input type="password" 
                 class="form-control" 
                 id="password" 
                 placeholder="Enter password..." 
                 [(ngModel)]="password" 
                 [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <br>

      <div class="row">
          <input type="submit" value="Submit" class="btn btn-deafult" (click)="signIn(userName, passwsord)" >
      </div>

    </form>
  </div>
</div>